.tech-stack-element-title {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
}
.tech-stack-element-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
